<!DOCTYPE html>
<html>
  <head>
    <title> A-One's Photography </title>
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/app.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <style>

      body {
        background-color: white;
        overflow: hidden;
      }

    /*Navbar*/

      /*Hamburger menu*/
      .navbar-margin {
        margin-top: 20px;
      }

      #cpBtn{
        margin-top: 17px;
        float: right;
        padding: 2px 8px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
      }

      #cpBtn > div {
        width: 20px;
        height: 4px;
        background: black;
        margin: 3px 0px;
        border-radius: 2px;
      }
      /*hamburger menu end*/

      .menu-handle {
        width: 100%;
        display: none;
      }

      .menu-text{
        font-size: 15px;
        font-weight: bold;
        float: right;
        padding: 5px;
        box-sizing: border-box;
        line-height: 85px;
      }

      .logo-handle {
        position: relative;
        right: 13px;
        width: 100%;
        display: none;
      }

      .logo-text {
        position: relative;
        top: 15px;
        color:#4C130C;
        font-size: 15px;
        font-weight: bold;
        float: left;
        box-sizing: border-box;
        line-height: 45px;
        font-weight: bold;
        font-family: 'Eczar', serif;
        font-size: 115%;
      }

      .logo-img-handle {
        position: relative;
        right: 17px;
        width: 100%;
        display: none;
      }

      .logo-img {
        float: left;
        padding: 5px;
        box-sizing: border-box;
      }

      .logo{
        float: left;
        font-weight: bold;
        font-family: 'Eczar', serif;
        font-size: 125%;
      }

      .logo-responsive{
        margin-left: 20px;
        height: 80px;
      }

      nav ul {
        position: relative;
        top: 25px;
        width: 100%;
        overflow:hidden;
        padding: 0;
        text-align: right; /*centers the list items*/
        -webkit-transition: max-height 0.4s;
        transition: max-height 0.4s;
        font-family: 'Eczar', serif;
      }


      nav ul li {
        display: inline-block; /*takes off bullet points and inlines*/
        padding: 15px;
        font-weight: 500;
        color: #4C130C;
        letter-spacing: 2px;
      }

      nav ul li:hover {
        color: #4C130C;
      }

      a{
        text-decoration: none;
        color: inherit; /*when hovered it takes color around it*/
      }

      nav ul li.current {
        color: #D29727;
      }
      /*nav end*/

        @media (max-width: 775px) {
      .logo{
        display: none;
      } 

      nav ul {
      max-height: 0px; /*this hides nav list*/
      }

      .showing{
      max-height: 50em; /*toggles hamburger dropdown*/
      }

      nav ul li {
      width: 100%; /*makes each <li> on take up a whole line*/
      box-sizing: border-box; /*doesn't expand dimensions of div when padding is applied. It leaves original dimensions.*/
      padding: 2px;
      }

      nav ul li:hover{
        background: gray;
      }

      .menu-handle {
        display: block;
      } 

      .logo-handle {
        display: block;
      } 

      .logo-img-handle {
        display: block;
      } 

      /*campgrounds.ejs*/
      .people-title {
        margin-bottom: 3%;
      }

      .col-centered {
        float: none;
        margin: 0 auto;
      }

      .peopleImage {
        width: 75%;
      }

      .peopleMargin {
        margin-bottom: 5%;
      }

      .no-padding {
        padding: 0px !important;
        margin: 0px !important;    
      }

      .pic-dimensions {
        width: 100%;
      }

      .overlay {
        position: relative;
      }

      #editDelete {
        position:absolute;
        top: 0%;
        right: 0%;
      }

      .newPhoto {
        text-align: right;
        margin: 1% 1% 0 0;
      }

      /*Portfolio.ejs*/
      .title {
        color: white;
        position:absolute;
        bottom: 2%;
        right: 5%;  
      }

      .showPage ul li {
        display: inline-block;
      }

    </style>

  </head>

  <body>

<!--   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">A-One's Photography</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"> Intro </a> </li>
            <li><a href="/about"> About </a></li>
            <li><a href="/portfolio"> Portfolio </a></li>
            <li><a href="/contact"> Contact </a></li>
          <% if (!currentUser) { %>
            <li><a href="/login"> Administrator </a> </li>
            <li><a href="/register"> Register </a></li>
          <% } else { %> -->
            <!-- <li><a href="/campgrounds/new"> Add a new Photo </a> </li> -->
<!--             <li><a href="/#">Signed in as <%= currentUser.username %></a></li>
            <li><a href="/logout"> Logout </a> </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="nav-main">
    <div class="logo-img-handle"><span class="logo-img"> <img src="" class="logo-responsive"> </span> </div>
    <div class="logo-handle"><span class="logo-text"> A-One's Photography </span> </div>
    <div class="menu-handle" id="menu-handle">
      <span class="menu-text">
        <button id="cpBtn">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </span>
    </div>
    <ul>
      <img src="" class="logo-responsive logo">
            <li class="logo">A-One's Photography</li>
            <li><a href="/"> Intro </a> </li>
            <li><a href="/about"> About </a></li>
            <li><a href="/portfolio"> Portfolio </a></li>
            <li><a href="/contact"> Contact </a></li>
          <% if (!currentUser) { %>
            <li><a href="/login"> Administrator </a> </li>
            <li><a href="/register"> Register </a></li>
          <% } else { %>
            <li><a href="/#">Signed in as <%= currentUser.username %></a></li>
            <li><a href="/logout"> Logout </a> </li>
          <% } %>
    </ul>
  </nav>

  <hr style="border-top: 1px solid black">

  </body>
  </html>


