<% include partials/header %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1 class="text-center"> About Aldrich Torrea </h1>

<script>
// Toggles hamburger icon 
$('.menu-handle').on('click', function(){
    $('nav ul').toggleClass('showing');
});
</script>