<% include partials/header %>

<div class="container">
	<div class="text-right">
		<a href="/campgrounds/new" class="btn btn-danger btn-small"> Add a new Photo </a>
	</div>

	<div class="row" style="display: flex; flex-wrap: wrap;">
		<% thecampgrounds.forEach(function(campground){ %>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="<%= campground.image %>">
					<div class="caption text-center">
						<h4><%= campground.name %><h4>
					</div>
					<div>
						<p class="text-center">
							<!-- Displays more info about campground -->
							<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-small"> More Info </a>
						</p>
					</div>
				</div>
			</div>
		<% }); %>
	</div>

</div>

<% include partials/footer %>

