<DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/landing.css">
        <!-- Slideshow -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <!-- Google Fonts -->
    	   <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- Needed for hamburger in navbar -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
    
	<div id="landing-header">
 		<h1 class="landing-title"> A-One's Photography </h1>
    <ul>
      <a href="/portfolio" id="bootstrap-override" class="landing-header btn btn-default btn-lg"> Enter </a>
      <a href="" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
      <a href="" target="_blank"><li><i class="fa fa-youtube"></i></li></a>
      <a href="" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
      <a href=""><li><i class="fa fa-twitter"></i></li></a>
    </ul>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    </body>
</html>


