<DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="../stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
	<div id="landing-header">
 		<h1> A-One's Photography </h1>
		<a href="/portfolio" id="bootstrap-override" class="btn btn-default btn-lg"> Enter </a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>



