<% include partials/header %>

<h1> You have successfully logged out! </h1>

<script>
// Toggles hamburger icon 
$('.menu-handle').on('click', function(){
    $('nav ul').toggleClass('showing');
});
</script>
