<% include partials/header %>

<h1 class="page-title text-center"> You have successfullly logged out! </h1>

<script>
// Toggles hamburger icon 
$('.menu-handle').on('click', function(){
    $('nav ul').toggleClass('showing');
});
</script>
