<% include partials/header %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h3 class="text-center"> Add New About Content </h3>

<br> 

<div class="container">
	<div class="row">
		<div style="width: 30%; margin:0 auto;">
			<form action="/about" method="POST">
<!-- 				<div class="form-group">
					<input class="form-control img-responsive" type="text" name="name" placeholder="name">
				</div> -->
				<div class="form-group">
					<input class="form-control img-responsive" type="text" name="image" placeholder="Image Url">
				</div>
				<div class="form-group">
					<textarea rows="5" class="form-control img-responsive" type="text" name="description" placeholder="About Me"> </textarea>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-small btn-block"> Submit </button>
				</div>
				<a href="/about"> Back </a>
			</form>
		</div>
	</div>
</div>

