<% include partials/header %>

<div class="container-fluid no-padding">
<!-- 	<div class="text-right">
		<% if (currentUser) { %>
		<a href="/campgrounds/new" class="btn btn-danger btn-small"> Add a new Photo </a>
		<% } %>
	</div> -->
	<h1 class="text-center"> PEOPLE </h1>
	
	<div class="row" style="display: flex; flex-wrap: wrap;">
		<% thecampgrounds.forEach(function(campground){ %>
			<div class="col-md-12">
				<div style="width: 100%">
					<a href=""><img class="pic-dimensions" src="<%= campground.image %>"></a>
				</div>
			</div>
		<% }); %>
	</div>

</div>