<% include partials/header %>

<div class="container-fluid portfolio">
	<div class="row">
		<div class="col-lg-12 col-md-6 no-padding overlay">
			<a href="/campgrounds"> <img class="img-responsive fade-scroll" style="width:100%" src="https://static.pexels.com/photos/9816/pexels-photo-9816.jpeg"></a>
			<h4 class="title"> People </h4>
		</div>
<!-- 		<div class="col-lg-12 col-md-6 no-padding overlay">
			<a href="/campgrounds"> <img class="fade-scroll" style="width:100%" src="http://www167.lunapic.com/do-not-link-here-use-hosting-instead/150264264494387?3385749869"></a>
			<h4 class="title"> Special Occasions </h4>
		</div>

		<div class="col-lg-12 col-md- no-padding overlay">
			<a href="/campgrounds"> <img class="img-responsive fade-scroll" style="width:100%" src="http://www167.lunapic.com/do-not-link-here-use-hosting-instead/150264264494387?5499910861"></a>
			<h4 class="title"> Live Events </h4>
		</div>
		<div class="col-lg-12 col-md-6 no-padding overlay">
			<a href="/campgrounds"> <img class="fade-scroll" style="width:100%" src="http://www167.lunapic.com/do-not-link-here-use-hosting-instead/150264264494387?2723323083"></a>
			<h4 class="title"> Personal </h4>
		</div> -->

	</div>
</div>