<% include partials/header %>

<div class="row">
	<div class="col-lg-12 no-padding overlay">
		<a href="/campgrounds"> <img class="img-responsive fade-scroll" style="width:100%" src="./img/picZero.jpg"></a>
		<h4 class="title"> People </h4>
	</div>
	<div class="col-lg-12 no-padding overlay">
		<a href="/special-occassions"> <img class="fade-scroll" style="width:100%" src="./img/picOne.jpg"></a>
		<h4 class="title"> Special Occasions </h4>
	</div>

	<div class="col-lg-12 no-padding overlay">
		<a href="/live-events"> <img class="img-responsive fade-scroll" style="width:100%" src="./img/picThree.jpg"" alt="test"></a>
		<h4 class="title"> Live Events </h4>
	</div>
	<div class="col-lg-12 no-padding overlay">
		<a href="/personal"> <img class="fade-scroll" style="width:100%" src="./img/picTwo.jpg""></a>
		<h4 class="title"> Personal </h4>
	</div>
</div>


<script>
// Toggles hamburger icon 
$('.menu-handle').on('click', function(){
    $('nav ul').toggleClass('showing');
});
</script>
