<% include partials/header %>

<div class="row">
	<div class="col-lg-12 no-padding overlay">
		<a href="/campgrounds"> <img class="img-responsive fade-scroll" style="width:100%" src="http://hhkott.com/Images/hiphop-karaoke-ottawa-crowd.jpg"></a>
		<h4 class="title"> People </h4>
	</div>
	<div class="col-lg-12 no-padding overlay">
		<a href="/special-occassions"> <img class="fade-scroll" style="width:100%" src="https://www.lizardisland.com.au/~/media/parks/lizard-island/special-events/special-events-banner-desktop.jpg?h=500&w=1500&la=en&hash=09551CE21456C54CEA4F0B47FD3F97DAB6D9C270"></a>
		<h4 class="title"> Special Occasions </h4>
	</div>

	<div class="col-lg-12 no-padding overlay">
		<a href="/live-events"> <img class="img-responsive fade-scroll" style="width:100%" src="http://londonmediaservice.com/wp-content/uploads/2015/10/banner2.jpg" alt="test"></a>
		<h4 class="title"> Live Events </h4>
	</div>
	<div class="col-lg-12 no-padding overlay">
		<a href="/personal"> <img class="fade-scroll" style="width:100%" src="http://popularbagblog.com/wp-content/uploads/2017/03/Fotograf-St.-Gallen.jpg"></a>
		<h4 class="title"> Personal </h4>
	</div>
</div>


<script>
// Toggles hamburger icon 
$('.menu-handle').on('click', function(){
    $('nav ul').toggleClass('showing');
});
</script>
