<% include partials/header %>

<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="showPage">

	<img class="img-responsive" src="<%= showCampground.image %>">

</div>

<p> <%= showCampground.name%> </p>
<p> <%= showCampground.description %> </p>
<!-- <p> <%= showCampground.author.username %> </p> -->

<br><br>


