<% include partials/header %>

<div class="container-fluid no-padding">
	<div class="newPhoto" >
		<% if (currentUser) { %>
		<a href="/special-occassions/new" class="btn btn-primary btn-md"> Add New Photo </a>
		<% } %>
	</div>

	<h1 class="people-title text-center" style="color: white;"> Special Occassions </h1>

	<div class="row" style="display: flex; flex-wrap: wrap;">
		<% thecampgrounds.forEach(function(campground){ %>
			<div class="peopleImage col-lg-6 col-centered">
				<div class="peopleMargin overlay">
						<a href="/special-occassions/<%= campground._id %>"><img class="pic-dimensions" src="<%= campground.image %>"></a>


			</div>
		<% }); %>
	</div>

</div>