/*Hamburger menu*/
.navbar-margin {
  margin-top: 20px;
}

#cpBtn {
  margin-top: 27px;
  float: right;
  padding: 2px 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  div {
    width: 20px;
    height: 4px;
    background: black;
    margin: 3px 0px;
    border-radius: 2px;
  }
}
/*hamburger menu end*/

.menu-handle {
  width: 100%;
  display: none;
}

.menu-text{
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding: 5px;
  box-sizing: border-box;
  line-height: 90px;
}

.logo-handle {
  position: relative;
  right: 13px;
  width: 100%;
  display: none;
}

.logo-text {
  color:$maroon;
  font-size: 15px;
  font-weight: bold;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  line-height: 85px;
  font-weight: bold;
  font-family: 'Eczar', serif;
  font-size: 115%;
}

.logo-img-handle {
  position: relative;
  right: 17px;
  width: 100%;
  display: none;
}

.logo-img {
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.logo{
  float: left;
  font-weight: bold;
  font-family: 'Eczar', serif;
  font-size: 150%;
  line-height: 50px;
}

.logo-responsive{
  margin-left: 20px;
  height: 80px;
}

nav {

  ul {
    width: 100%;
    overflow:hidden;
    padding: 0;
    text-align: right; /*centers the list items*/
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
    line-height: 45px;
    font-family: 'Eczar', serif;
  }

  li {
    display: inline-block; /*takes off bullet points and inlines*/
    padding: 15px;
    font-weight: 500;
    color: $maroon;
    letter-spacing: 2px;  
  }

  ul li:hover {
    color: $yellow;
  }

  ul li.current {
    color: $yellow;
  }

}

a {
  text-decoration: none;
  color: inherit; /*when hovered it takes color around it*/
}
/*nav end*/

/*Responsive navbar*/
@media (max-width: 775px) {
    .logo{
      display: none;
    } 

    nav ul {
    max-height: 0px; /*this hides nav list*/
    }

    .showing{
    max-height: 50em; /*toggles hamburger dropdown*/
    }

    nav ul li {
    width: 100%; /*makes each <li> on take up a whole line*/
    box-sizing: border-box; /*doesn't expand dimensions of div when padding is applied. It leaves original dimensions.*/
    padding: 2px;
    }

    nav ul li:hover{
      background: #FBF099;
    }

    .menu-handle {
      display: block;
    } 

    .logo-handle {
      display: block;
    } 

    .logo-img-handle {
      display: block;
    } 
}

@media (max-width: 320px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 384px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 470px) {
   .navbar-brand.title {
      position: relative;
      bottom: 8px;
      right: 12px;
      width: 55%;
   }
}